//$font-path-rora: '../assets/fonts/rota/';

//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaMediumItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaMediumItalic.woff') format('woff');
//  font-weight: 500;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaMedium.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaMedium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaSemiBoldItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaSemiBoldItalic.woff') format('woff');
//  font-weight: 600;
//  font-style: italic;
//  font-display: swap;
//}

@font-face {
  font-family: 'Rota regular';
  src:url('../../assets/fonts/rota/RotaRegular.woff2') format('woff2'),
  url('../../assets/fonts/rota/RotaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.body{
  font-family: 'Rota regular';
}

//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaThinItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaThinItalic.woff') format('woff');
//  font-weight: 100;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaThin.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaThin.woff') format('woff');
//  font-weight: 100;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaSemiBold.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaSemiBold.woff') format('woff');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaLightItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaLightItalic.woff') format('woff');
//  font-weight: 300;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraBold.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraBold.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraLight.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraLight.woff') format('woff');
//  font-weight: 200;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraBlackItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraBlackItalic.woff') format('woff');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaBlack.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaBlack.woff') format('woff');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaBold.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaBold.woff') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraBoldItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraBoldItalic.woff') format('woff');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaLight.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaLight.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaBlackItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaBlackItalic.woff') format('woff');
//  font-weight: 900;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaBoldItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaBoldItalic.woff') format('woff');
//  font-weight: bold;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraLightItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraLightItalic.woff') format('woff');
//  font-weight: 200;
//  font-style: italic;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaExtraBlack.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaExtraBlack.woff') format('woff');
//  font-weight: 900;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: $font-family-primary;
//  src: local(#{'Rota'}), url('#{$font-path-rora}RotaItalic.woff2') format('woff2'),
//  url('#{$font-path-rora}RotaItalic.woff') format('woff');
//  font-weight: normal;
//  font-style: italic;
//  font-display: swap;
//}
//
