@import "./../../../../../scss/core/core";

.down-steps {
  --container-gap: #{rem(24)};
  --container-justify-content: space-between;
  --container-align-items: center;

  position: relative;
  z-index: 1;

  display: flex;

  width: 100%;
  min-height: rem(128);

  margin: rem(-1.5) 0;
  padding: rem(48) 0;

  border-radius: 0 0 rem(80) rem(80);

  background: $light;

  overflow: hidden;

  @include min-wide(phonesLg) {
    --container-flex-flow: row;
  }

  &.--1 .container .step-item[data-step="2"],
  &.--1 .container .step-item[data-step="3"],
  &.--2 .container .step-item[data-step="3"], {
    opacity: 0;
    visibility: hidden;
  }

  &.--1, &.--2 {
    border-radius: unset;
  }
}
