@import "./../../../../scss/core/core";

.step-item {
  display: inline-flex;
  grid-gap: rem(16);

  &:before{
    width: rem(40);
    height: rem(40);

    content: attr(data-step);

    background: #262628;
    mix-blend-mode: normal;
    opacity: 0.06;
  }

  &__capt {
    font-size: rem(14);
    line-height: rem(20);

    color: #262628;
  }
}
